{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-12 col-sm-8 col-md-5 col-lg-4">
        <div class="card shadow">
            <div class="card-header text-center"><h4>Login</h4></div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" name="userName" class="form-control" value="{{ userName|default('') }}" required>
                    </div>
                    <div class="mb-3 position-relative">
                        <label class="form-label">Password</label>
                        <div class="position-relative" style="width: 100%;">
                            <input type="password" name="password" class="form-control pe-5" id="passwordInput" required style="padding-right: 2.5rem; position: relative; z-index: 1; background-color: transparent;">
                            <button type="button" class="peek-btn-login" id="togglePassword" tabindex="0">
                                <i class="bi bi-eye" id="togglePasswordIcon"></i>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='peek.js') }}"></script>
{% endblock %}
